.list {
    padding-top: 25px;
    padding-left: 15px;
    margin-bottom: 25px;
}

.title {
    padding-top: 25px;
    text-align: center;
}

.titleSent {
    text-align: center;
}

.item {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 15px;
}

.item:not(:last-child) {
    margin-bottom: 20px;
}

.description {
    display: grid;
    grid-template-columns: 1fr 1fr 35px;
    gap: 30px;
    align-items: center;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    border: none;
    border-radius: 5px;
    background-color: #b8b8b896;
}

.button:hover,
.button:focus {
    border: none;
    color: white;
    background-color: blueviolet;
}

.img {
    width: 150px;
    height: 100px;
    object-fit: cover;
}
