.historyForm {
    display: flex;
    justify-content: center;
}

.historyFormBox {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.span {
    font-size: 18px;
    font-weight: 500;
    color: grey;
    margin-bottom: 5px;
}

.inputBox:not(:last-child) {
    margin-bottom: 20px;
}

.label {
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.input {
    font-size: 16px;
    padding: 5px 5px 5px 30px;
    width: -webkit-fill-available;
}

.input:hover {
    border: 2px solid blueviolet;
    border-radius: 3px;
}

.svg {
    position: absolute;
    top: 34px;
    left: 5px;
    color: gray;
    pointer-events: none;
}

.input:hover+.svg,
.input:focus+.svg {
    color: blueviolet;
}

.button {
    padding: 15px 0;
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
    border: none;
    border-radius: 5px;
    background-color: #b8b8b896;
}

.button:hover,
.button:focus {
    color: white;
    background-color: blueviolet;
}

.button:disabled {
    pointer-events: none;
}
